# Python
__pycache__/
*.py[cod]
*.class
venv/
.env

# IDE
.vscode/
.idea/

# Project specific
app/static/images/*
!app/static/images/.gitkeep

# Keep images directory but ignore contents
touch app/static/images/.gitkeep
